- provide :title, (t 'application.info').to_s

%h1 Help for the Shift Booking Example

%h2 Create a new user
%p You will need to create a new user with your data to access the application.
%h2 Add offspring to the user
%p Add the offsprings you want to get into a shift. Only basic data is needed
%h2 Assign shifts to them
%p Select a shift for your offspring