/C3, D3 - Charting Libraries
%script{:src => "/assets/c3/c3.min.js"}
%script{:src => "/assets/d3/d3.min.js"}
/ Datatables, jQuery Grid Component
/ Note: jquery.dataTables.js must occur in the html source before patternfly*.js.
/%script{:src => "/assets/datatables/media/js/jquery.dataTables.min.js"}
/%script{:src => "/assets/drmonty-datatables-colvis/js/dataTables.colVis.js"}
/%script{:src => "/assets/moment/min/moment.min.js"}
/ Bootstrap Date Picker
%script{:src => "/assets/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"}
/ Bootstrap Select
%script{:src => "/assets/bootstrap-select/dist/js/bootstrap-select.min.js"}
/ Bootstrap Switch
%script{:src => "/assets/bootstrap-switch/dist/js/bootstrap-switch.min.js"}
